<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app>
<web-app id="WebApp_ID" version="3.0"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>rahahleah.rahahleah.Controller.HomeHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>		
	
	<filter>
		<filter-name>DataInjectorFilter</filter-name>
		<filter-class>rahahleah.rahahleah.Controller.filters.DataInjectorFilter</filter-class>
	</filter> 
	
	<filter-mapping>
		<filter-name>DataInjectorFilter</filter-name>
		<url-pattern>/home</url-pattern>
	</filter-mapping>
</web-app>